<link rel="stylesheet" href="/layout_styles.css">
<link rel="shortcut icon" data-head-react="true" type="image/x-icon" sizes="72x72" href="https://iili.io/73lwj1.png">
<link rel="shortcut icon" data-head-react="true" type="image/x-icon" sizes="114x114" href="https://iili.io/73lwj1.png">
<link rel="shortcut icon" data-head-react="true" type="image/x-icon" sizes="152x152" href="https://iili.io/73lwj1.png">

{{#with header}}
{{> header}}
{{/with}}
<main>
  <div class="nav-main-content">
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
  </div>
</main>
<div itemtype="http://schema.org/Store" itemID="#this" itemScope style="position: relative; bottom:0;width:100%">
  {{#with footer}}
  {{> footer}}
  {{/with}}
</div>

{{> scripts}}